@font-face {
	font-family: hwygcond;
	src:
		url('/reve-de-fevrier/fonts/hwygcond-web.woff2') format('woff2'),
		url('/reve-de-fevrier/fonts/hwygcond-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: oswald;
	src:
		url('/reve-de-fevrier/fonts/oswald-variablefont_wght-web.woff2') format('woff2'),
		url('/reve-de-fevrier/fonts/oswald-variablefont_wght-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: baskervillemtstd;
	src:
		url('/reve-de-fevrier/fonts/baskervillemtstd-regular-web.woff2') format('woff2'),
		url('/reve-de-fevrier/fonts/baskervillemtstd-regular-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: baskervillemtstd;
	src:
		url('/reve-de-fevrier/fonts/baskervillemtstd-italic-web.woff2') format('woff2'),
		url('/reve-de-fevrier/fonts/baskervillemtstd-italic-web.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: freightsb;
	src:
		url('/reve-de-fevrier/fonts/didot-htf-m24-medium-web.woff') format('woff2'),
		url('/reve-de-fevrier/fonts/didot-htf-m24-medium-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
