@font-face {
	font-family: hwygcond;
	src:
		url('/la-liste/fonts/hwygcond-web.woff2') format('woff2'),
		url('/la-liste/fonts/hwygcond-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: baskervillemtstd;
	src:
		url('/la-liste/fonts/baskervillemtstd-regular-web.woff2') format('woff2'),
		url('/la-liste/fonts/baskervillemtstd-regular-web.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: freightsb;
	src:
		url('/la-liste/fonts/freight-sb.woff2') format('woff2'),
		url('/la-liste/fonts/freight-sb.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
