.container {
	width: 100%;
	overflow: hidden;

	&.isActive {
		position: fixed;
		top: 0;
		left: 0;
	}
}

.size {
	width: 1px;

	@if $debug {
		@include mobile {
			display: none;
		}
	} @else {
		@media (hover: none) {
			display: none;
		}
	}
}
