.header {
	position: relative;
	text-align: center;

	h1 {
		padding: 0;
	}

	.subtitle {
		display: block;

		@include desktop {
			margin-top: -1.5rem;
		}
	}

	.description {
		margin-top: 1.6rem;
	}

	.caption {
		position: absolute;
		z-index: 1;
		bottom: 1.5rem;
		margin-top: 1.5rem;
		color: $white;

		@include desktop {
			bottom: 6rem;
			padding: 0 span(2);
		}

		p {
			@include desktop {
				padding: 0 span(4);
			}
		}
	}
}

.footer {
	padding-bottom: 10rem;
	background: $white;
}

.products {
	margin-right: 2rem;
	width: 100%;
	padding: 3.4rem 0 5.6rem;

	@include desktop {
		padding: span(1 wide) span(1 wide) 12rem;
	}

	& > ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include desktop {
			justify-content: flex-start;
		}
	}
}
